<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../.././stylesheets/style.css" />
  <title>UD</title>
</head>
<body>
  <%- include('../partials/header.ejs'); %>
<main class="centro__terminos">
  <div class="titulo">
  <h1>terminos y condiciones </h1>
  </div>
  <div class="TerminosYServicios">
  <h2>Qué se trata en estos términos</h2>
  <h2> Sabemos que es tentador saltarse estos Términos del Servicio, pero es importante determinar qué puedes esperar de nosotros al usar los servicios de Google y qué esperamos nosotros de ti.</h2>
  <p>Estos Términos del Servicio reflejan la forma de trabajar de ultimate dace como empresa</a> las leyes por las que nos regimos y determinados aspectos que siempre hemos creído que son ciertos. Por ello, estos Términos del Servicio ayudan a definir la relación que tiene Google contigo cuando interactúas con nuestros servicios. Por ejemplo, estos términos incluyen las siguientes secciones:</p>
  <ul>
    <li>Qué puedes esperar de nosotros, donde se describe cómo proporcionamos y desarrollamos nuestros servicios.</li>
    <li>Lo que esperamos de ti, donde se establecen ciertas reglas para utilizar nuestros servicios.</li>
    <li>Contenido en los servicios de Google, donde se describen los derechos de propiedad intelectual relacionados con el contenido que aparece en nuestros servicios, ya sea propiedad tuya, de Google o de terceros.</li>
    <li>En caso de problemas o discrepancias, donde se describen otros derechos legales que tienes y las consecuencias de infringir estos términos.</li>
  </ul>
  <p>Es importante que entiendas estos términos porque, al acceder a nuestros servicios o utilizarlos, aceptas estos términos.</p>
  <h2>Términos:</h2>
  <ul>
    <li>Tu relación con ultimate dace : </li>
    <p>Estos términos ayudan a definir tu relación con ultimate dace. Cuando hablamos de "ultimate dace", "nosotros", "nos" o "nuestro/a", hacemos referencia a nosotros y a las entidades asociadas. A grandes rasgos, te damos permiso para que accedas a nuestros servicios y los utilices si aceptas cumplir estos términos, que reflejan la forma en la que trabajamos como empresa y cómo ganamos dinero.</p>
    <li>Qué puedes esperar de nosotros:</li>
    <p>Ofrecer una amplia gama de servicios útiles
      como :
    </p>
    <p>
      Nuestros servicios están diseñados para funcionar conjuntamente 
    </p>
  </ul>
</div>
</main>
<%- include('../partials/footer.ejs'); %>
</body>
</html>