<footer class="parteDeAbajo">

<div class="columna">
  <a href="/" class="a">inicio</a>
  <a href="/TerminosCondiciones" class="a">Terminos y Condiciones</a>
</div>

<div class="columna">
  <a href="/estudiante/inicio" class="a" > iniciar sesion</a>
  <a href="/estudiante/registro" class="a" > registrate</a>
</div>

  <div class="columna">
    <p>creadores: </p>
    <p> Eduardo hurtado </p>
    <p> Alejandro hernandez</p>
  </div>

    <div class="columna">
    <p>Venezuela libre </p>
    <img src="../.././image/venezuleaBandera.svg" class="imagenFooter">
    </div>

</footer>
