<header class="encabezado">
  <div class="contenedor">
      <div class="logo"></div>
      <div class="bottom_part"></div>
    <div><h1 class="tituloHeader">ultimate dace</h1></div>
    </div>
  <div class="encabezados Centro">
    <a href="/estudiante/inicio"><button class="boton__centro"> inicio</button></a>
    <a href="/estudiante/registro"><button class="boton__centro">registro</button></a> 
  </div>
</header>
