<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../.././stylesheets/stylesHome.css" />
    <title>ultimate dace</title>
  </head>
  <body>
    <%- include('../../partials/header.ejs'); %>
    <main class="centro">

    <div class="contenedor">

      <div class="card">
      <div class="personaje">
        <div class="img-personaje">
          <div class="detalles">
            <h2>datos personales</h2>
            <p class="pDeCartas">
              en esta seccion va a poder ver tus datos ingresados al moneto de
              registrarte
            </p>
            <div class="buton"><a href="/estudiante/datos"><button class="boton">ingresar</button></a></div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="personaje_2">
        <div class="img-personaje_2">
          <div class="detalles_2">
            <h2>pre seleccion de materia</h2>
            <p>
              en esta seccion va a poder ver tus datos ingresados al moneto de
              registrarte
            </p>
            <div class="buton"><a href="/estudiante/preEleccion"><button class="boton">ingresar</button></a></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  </div>
    <%- include('../../partials/footer.ejs'); %>
  </body>
</html>
